.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botones-container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.botones-items{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buscarPaciente-form {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.buscarPaciente-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.buscarPaciente-form button {
  width: 100%;
  padding: 8px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

button {
  margin-top: 20px;
  width: 100px;
  padding: 8px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*
Borrar
*/
.container.show-message {
  opacity: 0.2;
  pointer-events: none;
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.confirmation-dialog p {
  margin-bottom: 10px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.confirmation-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.yes-button {
  background-color: #e53935;
  color: #fff;
}

.no-button {
  background-color: #2196f3;
  color: #fff;
}
