.historial-container {
  margin: 20px;
}

.titulo-historial {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contenido-historial {
  /* Estilos para el contenido del historial clínico */
}

.carga-historial {
  font-style: italic;
  color: gray;
}
