.wrapper {
  display: flex;
}

.topbar {
  height: 100px;
  width: 100%;
  background-color: #B7B7B7;
  display: flex;
  align-items: center;
  padding: 0 20px;

  position: relative;
}

.topbar-image {
  position: absolute;
  bottom: -615px; /* Ajusta el valor según el espacio que quieras entre el topbar y la imagen */
  left: 0px; /* Ajusta el valor para posicionar la imagen a la izquierda del topbar */
  max-height: auto; /* Ajusta la altura máxima según tus necesidades */
  width: 1288px;
  height: 615px;
}

.logo-container {
  margin-right: 100px;
}

.logo {
  height: 100px;
}

.sidebar {
  width: 200px;
  background-color: #767676;
  padding: 20px;
  height: calc(100vh - 40px); /* Altura de la barra superior */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Agrega esta línea para evitar el subrayado */
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.sidebar button:hover {
  background-color: #999;
  text-decoration: none; /* Agrega esta línea para evitar el subrayado en el hover */
}

.link-button {
  text-decoration: none;
}

.link-button:focus,
.link-button:hover {
  text-decoration: none;
}